body{
    font: normal 15px Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sessao-venda {
    text-align: center;
}

#itens_section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.box {
    border: 2px solid #557898;
    border-radius: 12px;
    width: 300px;
    height: 450px;
}

.box__img {
    margin-top: 10px;
    width: 180px;
}

.box__name {
    font-size: 28px;
    font-weight: 800;
}